# Rules found at https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

--exclude **/fastlane/**,CookSmart/fastlane
--swiftversion 5.2
--enable isEmpty

--disable blankLinesAtStartOfScope

--indent 2
--indentcase false
--stripunusedargs closure-only
