<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sugars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Brown Sugar</string>
				<key>Density</key>
				<integer>220</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Confectioners&apos; Sugar</string>
				<key>Density</key>
				<real>189.51</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Granulated Sugar</string>
				<key>Density</key>
				<real>200.86</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Flours</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Cake Flour</string>
				<key>Density</key>
				<real>0.478</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Whole Wheat Flour</string>
				<key>Density</key>
				<real>0.659</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>All-Purpose Flour</string>
				<key>Density</key>
				<real>0.6</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Shortening</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Vegetable Shortening</string>
				<key>Density</key>
				<real>0.92</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Peanut Oil</string>
				<key>Density</key>
				<real>0.91</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Lard</string>
				<key>Density</key>
				<real>0.87</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Canola Oil</string>
				<key>Density</key>
				<real>0.92</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Olive Oil</string>
				<key>Density</key>
				<real>0.91</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Butter</string>
				<key>Density</key>
				<real>0.959</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
