<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sugars</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Brown Sugar</string>
				<key>Density</key>
				<integer>198</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Confectioners&apos; Sugar</string>
				<key>Density</key>
				<real>113</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Granulated Sugar</string>
				<key>Density</key>
				<integer>198</integer>
			</dict>
            <dict>
				<key>Name</key>
				<string>Turbinado (Raw) Sugar</string>
				<key>Density</key>
				<integer>190</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Flours</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Cake Flour</string>
				<key>Density</key>
				<real>116.25</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Whole Wheat Flour</string>
				<key>Density</key>
				<integer>156</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>All-Purpose Flour</string>
				<key>Density</key>
				<integer>125</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Shortening</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Vegetable Shortening</string>
				<key>Density</key>
				<real>0.92</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Peanut Oil</string>
				<key>Density</key>
				<real>222</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Lard</string>
				<key>Density</key>
				<real>0.87</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Canola Oil</string>
				<key>Density</key>
				<real>219.5</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Olive Oil</string>
				<key>Density</key>
				<real>219.5</real>
			</dict>
            <dict>
				<key>Name</key>
				<string>Coconut Oil</string>
				<key>Density</key>
				<real>216</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Butter</string>
				<key>Density</key>
				<real>227</real>
			</dict>
		</array>
	</dict>
    <dict>
		<key>Others</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Cocoa Powder</string>
				<key>Density</key>
				<real>85</real>
			</dict>
			<dict>
				<key>Name</key>
				<string>Honey</string>
				<key>Density</key>
				<integer>340</integer>
			</dict>
        </array>
	</dict>
</array>
</plist>
